## Add URI and BIP39 mnemonic, and etherscan API key for every network that you plan to use
## These are used in `hardhat.config.ts` (see `nodeUrl` and `accounts` calls in network definitions)
#ETH_NODE_URI_FORK=""
#MNEMONIC_FORK=""
#ETHERSCAN_API_KEY=""

## To do mainnet fork in Polygon
#ETH_NODE_URI_FORKPOLYGON=""

## To do a local Ethereum mainnet fork 
#ETH_NODE_URI_MAINNETFORKREMOTE=""

#ETH_NODE_URI_GOERLI=""
#MNEMONIC_GOERLI=""
#GOERLI_ETHERSCAN_API_KEY=""

#ETH_NODE_URI_MAINNET=""
#MNEMONIC_MAINNET=""
#MAINNET_ETHERSCAN_API_KEY=""

#ETH_NODE_URI_POLYGON=""
#MNEMONIC_POLYGON=""
#POLYGON_ETHERSCAN_API_KEY=""

#ETH_NODE_URI_FANTOM=""

